<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->

<head>

    <title>Universe Signin Form Flat Responsive Widget Template :: W3layouts</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="/pc/css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<!-- //Head -->

<!-- Body -->

<body>

<!--<form action="/loginProcess" method="post">-->
<!--     <div><input name="username">用户名</div>-->
<!--    <div><input name="password" type="password">密码</div>-->
<!--    <button type="submit">登录</button>-->

<!--</form>-->
    <section class="main">
        <div class="logo text-center">
            <h1> <a href="login.html"> Universe Sign In Form</a></h1>
        </div>
        <div class="content-w3ls text-center">
            <img src="/pc/images/admin.png" alt="" class="img-responsive">
            <form action="/loginProcess" method="post">
                <div class="wthree-field">
                    <input name="username" id="text1" type="text" value="" placeholder="请输入学号" required>
                </div>
                <div class="wthree-field">
                    <input name="password" id="myInput" type="Password" placeholder="请输入密码">
                </div>
                <div class="wthree-field">
                    <button type="submit" class="btn">Sign In</button>
                </div>
<!--                <div class="login-bottom">-->
<!--                    <a href="#url" class="">Create An Account</a>-->
<!--                </div>-->
            </form>
        </div>
<!--        <div class="copyright">-->
<!--            <p>© 2020 Universe Signin Form. Made with love | Designed by <a-->
<!--                href="https://w3layouts.com" target="_blank">W3layouts</a></p>-->
<!--        </div>-->
    </section>

</body>
<!-- //Body -->

</html>
